<a href="https://colab.research.google.com/github/gopal2812/mlblr/blob/master/Assignment8_pythonlabel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Write a python function to Check if a Number is Positive, Negative or 0
def pos(num):
  if num > 0:
    print("Positive number")
  elif num == 0:
    print("Zero")
  else:
    print("Negative number")

In [2]:
#Write a function to print seconds in a day
seconds_in_a_day = 24 * 60 * 60
print(seconds_in_a_day)

86400

In [3]:
# Write a Python function to check if year is a leap year or not
def leap_year(year):
  if (year % 4) == 0:
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
  else:
    print("{0} is not a leap year".format(year))

In [4]:
# Write a python function to display all the prime numbers within 900 and 1000

lower = 900
upper = 1000
print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [5]:
# Write a python function to display the nth Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

In [6]:
# Write a python function to find the L.C.M. of two input number
def compute_lcm(x, y):
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

In [7]:
# Write a python function to find the GCD of two input number

def compute_gcd(x, y):
   while(y):
       x, y = y, x % y
   return x

In [8]:
# Write a python function to find the factors of a number
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

In [9]:
# Write a python function to find the ASCII value of the given character
def ascii(c):
    print("The ASCII value of '" + c + "' is", ord(c))

In [10]:
#Write a python function to convert decimal to binary
def dec2bin(dec):
    print(bin(dec), "in binary.")

In [11]:
#Write a python function to convert decimal to octal
def dec2oct(dec):
    print(oct(dec), "in octal.")

In [12]:
#Write a python function to convert decimal to hexadecimal
def dec2hex(dec):
    print(hex(dec), "in hexadecimal.")

In [13]:
# Write a python function to print Multiplication table of a number num in Python
def multi_table(num):
  for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

In [14]:
#Write a python function of Find Resolution of JPEG Image
def jpeg_res(filename):
  with open(filename,'rb') as img_file:
    img_file.seek(163)
    a = img_file.read(2)
    height = (a[0] << 8) + a[1] 
    a = img_file.read(2) 
    width = (a[0] << 8) + a[1]
  print("The resolution of the image is",width,"x",height)

In [15]:
#Write a python function Givenan array of integers nums and an integer target, return indices of the two numbers such that they add up to target.
def twoSum(self, nums, target):
  h = {}
  for i, num in enumerate(nums):
    n = target - num
    if n not in h:
      h[num] = i
    else:
      return [h[n], i]

In [16]:
# Progeam to remove punctuations from strings
def rm_punct(my_str):
  punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  no_punct = ""
  for char in my_str:
    if char not in punctuations:
      no_punct = no_punct + char
  print(no_punct)

In [17]:
# Write a python function to check if a string is palindrome or not
def palindrom(my_str):
  my_str = my_str.casefold()
  # reverse the string
  rev_str = reversed(my_str)
  # check if the string is equal to its reverse
  if list(my_str) == list(rev_str):
    print("The string is a palindrome.")
  else:
    print("The string is not a palindrome.")

In [18]:
# Write a python function to convert kilometers to miles
def kilo_miles(kilometers):
  conv_fac = 0.621371
  # calculate miles
  miles = kilometers * conv_fac

In [19]:
#Write a python function to get absolute value of a number
def abs(num):
  return abs(num)

In [20]:
# Write a python function to solve the quadratic equation ax**2 + bx + c = 0
def soln( a, b, c):
  d = (b**2) - (4*a*c)
  sol1 = (-b-cmath.sqrt(d))/(2*a)
  sol2 = (-b+cmath.sqrt(d))/(2*a)
  return (sol1, sol2)

In [21]:
# Write a python function to check if the number is an Armstrong number or not
def armstong_num(num):
  sum = 0
  temp = num
  while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

  if num == sum:
    print(num,"is an Armstrong number")
  else:
    print(num,"is not an Armstrong number")

In [22]:
# Write a python function to check Armstrong numbers in a certain interval

def check(lower, upper):
  for num in range(lower, upper + 1):
   order = len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

In [23]:
# Write a python function to check if a given number is perfect or not 
def isPerfect( n ): 
    sum = 1
    i = 2
    while i * i <= n: 
        if n % i == 0: 
            sum = sum + i + n/i 
        i += 1     
    return (True if sum == n and n!=1 else False)

In [24]:
# Write a python function to convert string into a datetime object
from datetime import datetime
def convert(date_string):
  datetime_object = datetime.strptime(date_string, '%b %d %Y %I:%M%p')
  print(datetime_object)

In [25]:
#Write a python function Givenan array of integers, find if the array contains any duplicates.
def containsDuplicate(self, nums):
  return True if len(set(nums)) < len(nums) else False

In [26]:
 #Write a python function to Find Minimum in Rotated Sorted Array
 def findMin(nums):
     if len(nums) == 1:
         return nums[0]
     left = 0
     right = len(nums) - 1
     if nums[right] > nums[0]:
         return nums[0]
     while right >= left:
         mid = left + (right - left) / 2
         if nums[mid] > nums[mid + 1]:
             return nums[mid + 1]
         if nums[mid - 1] > nums[mid]:
             return nums[mid]
         if nums[mid] > nums[0]:
             left = mid + 1
         else:
             right = mid - 1

In [27]:
# Print current time in Python
import datetime
print(datetime.datetime.now())

2020-12-17 23:54:31.717647

In [28]:
#Print current time in milliseconds
import time
milliseconds = int(round(time.time() * 1000))
print(milliseconds)

1608249271725

In [29]:
#Write a python function to Calculate number of days between two given dates
from datetime import datetime
def delta(date_1, date_2):
  delta = None
  if date_1 > date_2:
    print("date_1 is greater")
    delta = date_1 - date_2
  else:
    print("date_2 is greater")
    delta = date_2 - date_1
  print("Difference is", delta.days, "days")

In [30]:
#Determines whether or not the following two sets have any elements in common. If yes display the common elements
def common(set1, set2):
  if set1.isdisjoint(set2):
    print("Two sets have no items in common")
  else:
    print("Two sets have items in common")
    print(set1.intersection(set2))

In [31]:
#Reverse the given tuple
def rev(atuple):
  aTuple = aTuple[::-1]
  print(aTuple)

In [32]:
#Write a python function Givena two list. Create a third list by picking an odd-index element from the first list and even index elements from second.
def thridlist (listOne, listTwo):
  listThree = list()
  oddElements = listOne[1::2]
  EvenElement = listTwo[0::2]
  listThree.extend(oddElements)
  listThree.extend(EvenElement)
  print(listThree)

In [33]:
#Write a python function Givenan input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list
def input(sampleList):
  element = sampleList.pop(4)
  sampleList.insert(2, element)
  sampleList.append(element)

In [34]:
#Write a python function Givena two list of equal size create a set such that it shows the element from both lists in the pair
def pair(firstList, secondList):
  result = zip(firstList, secondList)
  resultSet = set(result)
  print(resultSet)

In [35]:
#Write a python function Giventwo sets, Checks if One Set is Subset or superset of Another Set. if the subset is found delete all elements from that set
def clear(firstSet, secondSet):
  if(firstSet.issubset(secondSet)):
    firstSet.clear()
  
  if(secondSet.issubset(firstSet)):
    secondSet.clear()

  print("First Set ", firstSet)
  print("Second Set ", secondSet)

In [36]:
#Write a python function Givena dictionary get all values from the dictionary and add it in a list but don’t add duplicates
def op(speed):
  speedList = list()
  for item in speed.values():
    if item not in speedList:
      speedList.append(item)
  print("unique list", speedList)

In [37]:
#Remove duplicate from a list and create a tuple and find the minimum and maximum number
def remove_duplicates(sampleList):
  sampleList = list(set(sampleList))
  tuple = tuple(sampleList)
  print("Minimum number is: ", min(tuple))
  print("Maximum number is: ", max(tuple))

In [38]:
#  Write a python function Givena Python list. Turn every item of a list into its cube
def alist(lis):
  opList =  [x* x * x for x in lis]
  print(opList)

In [39]:
# Remove all string start with "HMM" given the list of strings

def test(i):
  if i.startswith("HMM"):
    return False
  return True
list1 = ["Mike", "HMM", "Emma", "Kelly", "HMM", "Brad"]
resList = [i for i in (filter(test, list1))]
print(resList)

['Mike', 'Emma', 'Kelly', 'Brad']

In [40]:
#  Generate 10 random integers between 1000 and 9999 which is divisible by 7
import random

print("Generating 3 random integer number between 1000 and 9999 divisible by 7")
for num in range(3):
    print(random.randrange(1000, 9999, 7), end=', ')

Generating 3 random integer number between 1000 and 9999 divisible by 7
8168, 8973, 3905,

In [41]:
# Generate  random String of length 15
import random
import string

def randomString(stringLength):
    """Generate a random string of 15 charcters"""
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(stringLength))

print ("Random String is ", randomString(15) )

Random String is  ZEvJPAmBUYlxJYq

In [42]:
# Arrange string characters such that Uppercase letters should come first

str1 = "pythonMT"
lower = []
upper = []
for char in str1:
    if char.islower():
        lower.append(char)
    else:
        upper.append(char)
sorted_string = ''.join(upper + lower)
print(sorted_string)

MTpython

In [43]:
#Write a python function to print permutation of a string
def permute_string(str):
    if len(str) == 0:
        return ['']
    prev_list = permute_string(str[1:len(str)])
    next_list = []
    for i in range(0,len(prev_list)):
        for j in range(0,len(str)):
            new_str = prev_list[i][0:j]+str[0]+prev_list[i][j:len(str)-1]
            if new_str not in next_list:
                next_list.append(new_str)
    return next_list

print(permute_string('ABCD'));

['ABCD', 'BACD', 'BCAD', 'BCDA', 'ACBD', 'CABD', 'CBAD', 'CBDA', 'ACDB', 'CADB', 'CDAB', 'CDBA', 'ABDC', 'BADC', 'BDAC', 'BDCA', 'ADBC', 'DABC', 'DBAC', 'DBCA', 'ADCB', 'DACB', 'DCAB', 'DCBA']

In [44]:
#Write a Python function to print the first n Lucky Numbers.
def lucky(n):
  List=range(-1,n*n+9,2)
  i=2
  while List[i:]:List=sorted(set(List)-set(List[List[i]::List[i]]));i+=1
  print(List[1:n+1])

In [45]:
#Write a python function to print negative odd Numbers in given range 
  
def negativeoddnumber(start, end): 
  for num in range(start, end + 1):     
    if ((num < 0) and ((num % 2) != 0)): 
        print(num, end = " ")

In [46]:
#Write a python function to count positive and negative numbers in a list
def num(list1):
  pos_count, neg_count = 0, 0
  
  for num in list1:  
    if num >= 0: 
      pos_count += 1
    else: 
      neg_count += 1
  return pos_count, neg_count

In [47]:
# Write a python function Givenan input string str1, count occurrences of character 'A' within a string
def charA(str1):
  countDict = dict()
  for char in str1:
    count = str1.count('A')
    countDict['A']=count
  print(countDict)

In [48]:
# Write a python function Givenan input string str1, count occurrences of character 'B' within a string
def charA(str1):
  countDict = dict()
  for char in str1:
    count = str1.count('B')
    countDict['B']=count
  print(countDict)

In [49]:
# Write a python function Givenan input string str1, count occurrences of character 'C' within a string
def charA(str1):
  countDict = dict()
  for char in str1:
    count = str1.count('C')
    countDict['C']=count
  print(countDict)

In [50]:
# Write a python function Givenan input string str1, count occurrences of character 'D' within a string
def charA(str1):
  countDict = dict()
  for char in str1:
    count = str1.count('D')
    countDict['D']=count
  print(countDict)

In [51]:
# Write a python function Givenan input string str1, count occurrences of character 'E' within a string
def charA(str1):
  countDict = dict()
  for char in str1:
    count = str1.count('E')
    countDict['E']=count
  print(countDict)

In [52]:
# Write a python function Givenan input string str1, count occurrences of character 'F' within a string
def charA(str1):
  countDict = dict()
  for char in str1:
    count = str1.count('F')
    countDict['F']=count
  print(countDict)

In [53]:
# Write a python function Givenan input string str1, count occurrences of character 'G' within a string
def charA(str1):
  countDict = dict()
  for char in str1:
    count = str1.count('G')
    countDict['G']=count
  print(countDict)

In [54]:
# Write a python function Givenan input string str1, count occurrences of character 'H' within a string
def charA(str1):
  countDict = dict()
  for char in str1:
    count = str1.count('H')
    countDict['H']=count
  print(countDict)

In [55]:
# write a python program to add six numbers 
num1 = 1.5
num2 = 6.3
num3 = 5
num4 = 7
num5 = 9
num6 = 9
sum = num1 + num2 + num3 + num4 + num5 + num6
print(f'Sum: {sum}')

Sum: 37.8

In [56]:
# Removal all the characters other than integers from string

str1 = 'I am 25 years and 10 months old'
res = "".join([item for item in str1 if item.isdigit()])
print(res)

2510

In [57]:
# Calculate memory is being used by an set in Python
import sys
set1 = {'Scott', 'Eric', 'Kelly', 'Emma', 'Smith'}
print("size of set = ",sys.getsizeof(set1))

size of set =  736

In [58]:
## Calculate memory is being used by an dictionary in Python
import sys
dict1 = {'Scott': 12, 'Eric':13, 'Kelly':16, 'Emma':45, 'Smith':67}
print("size of set = ",sys.getsizeof(dict1))

size of set =  240

In [59]:
## Calculate memory is being used by an tuple in Python
import sys
tuple1 = ('a','b')
print("size of set = ",sys.getsizeof(tuple1))

size of set =  64

In [60]:
# write a program to calculate exponents of an input
input = 9
exponent = 2
final = pow(input, exponent)
print(f'Exponent Value is:{final}')

Exponent Value is:81

In [61]:
# Write a program that returns first occurrence of Substring 
word = 'geeks for geeks'

result = word.find('geeks') 
print ("Substring 'geeks' found at index:", result )

Substring 'geeks' found at index: 0

In [62]:
#Write a progrm to Sort each String in String list
test_list = ['gfg', 'is', 'good'] 
print("The original list : " + str(test_list)) 
res = list(map(lambda ele: "".join(sorted(ele)), test_list)) 
print("List after string sorting : " + str(res))

The original list : ['gfg', 'is', 'good']
List after string sorting : ['fgg', 'is', 'dgoo']

In [63]:
#Write a python program  to iterate over a list
list1 = [1, 3, 5, 7, 9]
  
# Using for loop
for i in list1:
    print(i)

1
3
5
7
9

In [64]:
#write a program to replace one string with another string
def string_replace(str,old_string,new_string):
  print(old_string)
  print(new_string)
  print(str)
  new_str = str.replace("summer","winter")
  print(new_str)
  return new_str

In [65]:
# Generate a random 2-dimensional array of float numbers

import numpy
random_float_array = numpy.random.rand(2, 2)
print("2 X 2 random float array in [0.0, 1.0] \n", random_float_array,"\n")

2 X 2 random float array in [0.0, 1.0]
 [[0.08454566 0.42998252]
 [0.74085045 0.47840196]]

In [66]:
# Shuffle a list randomly
import random
list1 = [2,5,8,9,12]
random.shuffle(list1)
print ("Printing shuffled list ", list1)

Printing shuffled list  [12, 9, 5, 2, 8]

In [67]:
# Shuffle a list randomly
import random
list1 = [2,5,8,9,12]
random.shuffle(list1)
print ("Printing shuffled list ", list1)

Printing shuffled list  [2, 8, 5, 9, 12]

In [68]:
# From given string replace each punctuation with ?
from string import punctuation

str1 = '/*Jon is @developer & musician!!'

replace_char = '?'
for char in punctuation:
    str1 = str1.replace(char, replace_char)

print("The strings after replacement : ", str1)

The strings after replacement :  ??Jon is ?developer ? musician??

In [69]:
# Given a string, return the average of the digits that appear in the string, ignoring all other characters
import re

inputStr = "English = 78 Science = 83 Math = 68 History = 65"
markList = [int(num) for num in re.findall(r'\b\d+\b', inputStr)]
totalMarks = 0
for mark in markList:
  totalMarks+=mark

percentage = totalMarks/len(markList)  
print("average is ", percentage)

average is  73.5

In [70]:
# Write a program which will create a new string by appending s1 in the middle of s2 given two strings, s1 and s2

def appendMiddle(s1, s2):
  middleIndex = int(len(s2) /2)
  middleThree = s2[:middleIndex:]+ s1 +s2[middleIndex:]
  print("After appending new string in middle", middleThree)
  
appendMiddle("Ault", "Kelly")

After appending new string in middle KeAultlly

In [71]:
# Write a python function that generate a random date between given start and end dates and return random dates
import random
import time

def getRandomDate(startDate, endDate ):
    print("Printing random date between", startDate, " and ", endDate)
    randomGenerator = random.random()
    dateFormat = '%m/%d/%Y'

    startTime = time.mktime(time.strptime(startDate, dateFormat))
    endTime = time.mktime(time.strptime(endDate, dateFormat))

    randomTime = startTime + randomGenerator * (endTime - startTime)
    randomDate = time.strftime(dateFormat, time.localtime(randomTime))
    return randomDate

print ("Random Date = ", getRandomDate("1/1/2016", "12/12/2018"))

Printing random date between 1/1/2016  and  12/12/2018
Random Date =  12/19/2016

In [72]:
# Sort JSON keys in Python and write it into a file
import json
sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

with open("sampleJson.json", "w") as write_file:
    json.dump(sampleJson, write_file, indent=4, sort_keys=True)
print("Done writing JSON data into a file")

Done writing JSON data into a file

In [73]:
# Write python code for Pretty print JSON

import json
person_string = '{"name": "Bob", "languages": "English", "numbers": [2, 1.6, null]}'
person_dict = json.loads(person_string)
print(json.dumps(person_dict, indent = 4, sort_keys=True))

{
    "languages": "English",
    "name": "Bob",
    "numbers": [
        2,
        1.6,
        null
    ]
}

In [74]:
#Create a function that can accept two arguments name and age and print its value
def demo(name, age):
    print(name, age)

demo("Ben", 25)

Ben 25

In [75]:
#Write a function func1() such that it can accept a variable length of  argument and print all arguments value

def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)

20
40
60

In [76]:
#Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call
def calculation(a, b):
    return a+b, a-b

res = calculation(40, 10)
print(res)

(50, 30)

In [77]:
#Create a function showEmployee() in such a way that it should accept employee name, and it’s salary and display both, and if the salary is missing in function call it should show it as 9000
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

showEmployee("Ben", 9000)
showEmployee("Ben")

Employee Ben salary is: 9000
Employee Ben salary is: 9000

In [78]:
#Split a given string on hyphens into several substrings and display each substring
str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)
substrings = str1.split("-")
print("Displaying each substring")
for sub in substrings:
    print(sub)

Original String is: Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

In [79]:
#Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)
a,b,c,d = aTuple
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

10
20
30
40

In [80]:
#Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [81]:
#Write a code to Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [82]:
#Write a python function to Check if all items in the following tuple are the same
def check(sampleTuple):
    return all(i == sampleTuple[0] for i in sampleTuple)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True

In [83]:
# Write Python code for checking for uppercase characters 
string = 'GEEKSFORGEEKS'
print(string.isupper()) 
  
string = 'GeeksforGeeks'
print(string.isupper())

True
False

In [84]:
#  Write Python code for checking for lowercase characters 
string = 'geeksforgeeks'
print(string.islower()) 
  
string = 'GeeksforGeeks'
print(string.islower())

True
False

In [85]:
# Python code for implementation of lower() 
  
# Checking for lowercase characters 
string = 'GEEKSFORGEEKS'
print(string.lower()) 
  
string = 'GeeksforGeeks'
print(string.lower())

geeksforgeeks
geeksforgeeks

In [86]:
#Write the python code for printing timestamp 
import time 
  
# ts stores the time in seconds 
ts = time.time() 
  
# print the current timestamp 
print(ts)

1608249361.0206063

In [88]:
#Write a program to print the time in utc

from datetime import timezone 
import datetime 

dt = datetime.datetime.now() 
  
utc_time = dt.replace(tzinfo = timezone.utc) 
utc_timestamp = utc_time.timestamp() 
  
print(utc_timestamp)

1608249459.509581