<a href="https://colab.research.google.com/github/gopal2812/mlblr/blob/master/PandaConvertNumPyArrayDict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import libraries
import pandas as pd
import numpy as np

In [0]:
# Load Excel File
filename = 'data/car_financing.xlsx'
df = pd.read_excel(filename)

In [0]:
## Filtering 
car_filter = df['car_type']=='Toyota Sienna'
interest_filter = df['interest_rate']==0.0702
df = df.loc[car_filter & interest_filter, :]

In [0]:
# Approach 1 dictionary substitution using rename method
df = df.rename(columns={'Starting Balance': 'starting_balance',
                        'Interest Paid': 'interest_paid', 
                        'Principal Paid': 'principal_paid',
                        'New Balance': 'new_balance'})

In [0]:
# Approach 2 list replacement
# Only changing Month -> month, but we need to list the rest of the columns
df.columns = ['month',
              'starting_balance',
              'Repayment',
              'interest_paid',
              'principal_paid',
              'new_balance',
              'term',
              'interest_rate',
              'car_type']

In [0]:
# Approach 1
# This approach allows you to drop multiple columns at a time 
df = df.drop(columns=['term'])

In [0]:
# Approach 2 use the del command
del df['Repayment']

In [0]:
df.shape

In [0]:
# missing values can be excluded in calculations by default. 
# excludes missing values in the calculation 
interest_missing = df['interest_paid'].isna()

In [0]:
# Fill in with the actual value
df.loc[interest_missing,'interest_paid'] = 93.24

## Convert Pandas DataFrames to NumPy arrays or Dictionaries

In [0]:
df.head()

### Convert Pandas DataFrames to NumPy Arrays

In [0]:
# Approach 1
df.to_numpy()

In [0]:
# Approach 2
df.values

### Convert Pandas DataFrames to Dictionaries

In [0]:
df.to_dict()